body{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 130px;
    background-color: black;
    
}
.logo{
    width: 80%;
    height: 100%;
    /*background-color: aqua;*/
    margin: auto;
}
.logo img{
    height: 80%;
    margin-top: 10px;
}
.menu-full{
    width: 100%;
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    font-family: "Koulen", sans-serif;
    opacity: 0.8;
    transition: 0s;
}
.menu ul li a:hover{
    opacity: 1;
    transform: scale(110%);
}
.full-content{
    width: 75%;
    height: 600px;
    /* background-color: blueviolet; */
    margin: 10px auto;
    display: flex;
    

}
.content{
    width: 70%;
    height: 100%;
    background-color: aqua;
    margin-right: 10px;
    /* float: left; */
}
.ads{
    /* float: left; */
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}
.ads .ads1{
    width: 100%;
    height: 49%;
    background-color: rgb(200, 190, 190);
    margin-bottom: 5px;

}
.ads .ads2{
    width: 100%;
    height: 49%;
    background-color: rgb(200, 190, 190);
    margin-top: 5px;
    transform: translateY(8px);

}
.post{
    width: 60%;
    height: 50%;
    background-color: rebeccapurple;
    float: left;
    background-image: url('/photo/1.jpg');
    background-size: cover;
    background-position: center;
    
}
.post:nth-child(2){
    width: 40%;
    height: 50%;
    background-color: rgb(205, 59, 83);
    background-image: url('/photo/2.jpg');
}
.post:nth-child(3){
    width: 60%;
    height: 50%;
    background-color: rgb(24, 13, 34);
    background-image: url('/photo/3.png');
}
.post:nth-child(4){
    width: 40%;
    height: 50%;
    background-color: rgb(28, 178, 70);
    background-image: url('/photo/4.png');
}
.post:nth-child(1):hover{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0, 0.320),rgba(0, 0, 0, 0.730),rgb(0,0,0)), url('/photo/1.jpg');
}
.post:nth-child(2):hover{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0, 0.320),rgba(0, 0, 0, 0.730),rgb(0,0,0)), url('/photo/2.jpg');
}
.post:nth-child(3):hover{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0, 0.320),rgba(0, 0, 0, 0.730),rgb(0,0,0)), url('/photo/3.png');
}
.post:nth-child(4):hover{
    background-image: linear-gradient(to bottom,rgb(0, 0, 0, 0.320),rgba(0, 0, 0, 0.730),rgb(0,0,0)), url('/photo/4.png');
}
.post h2{
    font-family: "Koulen", sans-serif;
    font-weight: 300;
    color: white;
    font-size: 20;
    transform: translateY(130px);
    margin-left: 10px;
    text-shadow: 3px 3px 2px black;
    transition: all 0.5s ease;
    cursor: pointer;
}
.post:hover h2{
    transform: translateY(65px);
    color: red;
}
.content2{
    width: 75%;
    overflow: hidden;
    /* background-color: blueviolet; */
    margin: auto;
}
.titlebox{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    border-bottom: 5px solid red;

}
.titlebox .titlename{
    width: 100px;
    height: 50px;
    background-color: red;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Koulen", sans-serif, cursive;
    color: white;
    font-weight: 300;
    margin-top: 15px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.titlebox .titlename p{
   
    font-family: "Koulen", sans-serif;
}
.vdocontainer{
    width: 100%;
    height: 700px;
    background-color: lightgrey;
}
.hot-news{
    width: 100%;
    height: 45%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;
}
.common-news{
    width: 100%;
    height: 55%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 30px;
    
}

.hot-news .newsbox{
    width: 33%;
    height: 100%;
    /* background-color: yellowgreen; */
}
.image{
    width: 100%;
    height: 65%;
    /* background-color: aquamarine; */
    overflow: hidden;
}
.image:hover img{
    transform: scale(1.05);
    
}
.newsbox .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.text p{
    margin-top: 0px;
    font-family: "Battambang", system-ui;
    font-size: 20px;
    margin-left: 5px;
}
.common-news .Item-content{
    width: 18%;
    height: 50%;
    /* background-color: gray; */
    margin-right: 17px;

}
.photo2{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.photo2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Item-content .des{
    width: 100%;
    height: 40%;
    transform: translateY(10px);
}
.des p{
    font-family: "Battambang";
    font-size: 17px;
    margin-top: 0px;
    margin-left: 5px;
}
.Item-content:hover img{
    transform: scale(0.95);
}




/* Entertainment */
.Entertainment{
    width: 75%;
    overflow: hidden;
    margin: auto;
    /* background-color: blue; */
}
.titlebox2{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    border-bottom: 5px solid rgb(226, 28, 133);

}
.titlebox2 .titlename2{
    width: 100px;
    height: 50px;
    background-color: rgb(226, 28, 133);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Koulen", sans-serif, cursive;
    color: white;
    font-weight: 300;
    margin-top: 15px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.Enter-content{
    width: 100%;
    height: 450px;
    background-color: lightgray;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;

}
.first-block{
    width: 35%;
    height: 100%;
    /* background-color: greenyellow; */
}
.En-image{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.En-image:hover img{
    transform: scale(1.05);
}
.En-text{
    width: 100%;
    height: 35%;
    background-color: palevioletred;

}
.En-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.En-text p{
    font-family: "Battambang";
    font-size: 22px;
    color: white;
    margin-top: 0px;
    margin-left: 5px;
    line-height: normal;
    text-align: left;
}

.second-block{
    width: 64%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mainblock{
    width: 24%;
    height: 50%;

    /* background-color: rebeccapurple;    */
}
.mainblock:hover img{
    transform: scale(1.05);
}
.En-image2{
    width: 100%;
    height: 55%;
    overflow: hidden;

}
.En-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.En-text2 p{
    font-family: "Battambang";
    font-size: 15px;
    margin: 0px 5px;
}
.En-text2{
    width: 100%;
    height: 45%;
}


      /* Technology */

.Technology{
    width: 75%;
    overflow: hidden;
    margin: auto;
    /* background-color: blue; */
}
.titlebox3{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    border-bottom: 5px solid rgb(39, 125, 237);

}
.titlebox3 .titlename3{
    width: 130px;
    height: 50px;
    background-color: rgb(39, 125, 237);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Koulen", sans-serif, cursive;
    color: white;
    font-weight: 300;
    margin-top: 15px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.Tech-content{
    width: 100%;
    height: 450px;
    background-color: lightgray;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;

}
.first-block2{
    width: 35%;
    height: 100%;
    
    /* background-color: greenyellow; */
}
.Tech-image{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.Tech-image:hover img{
    transform: scale(1.05);
}
.Tech-text{
    width: 100%;
    height: 35%;
    background-color: palevioletred;

}
.Tech-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Tech-text p{
    font-family: "Battambang";
    font-size: 24px;
    color: white;
    margin-top: 0px;
    margin-left: 5px;
    line-height: normal;
    text-align: left;
}
.second-block2{
    width: 64%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mainblock2{
    width: 24%;
    height: 50%;

    /* background-color: rebeccapurple;    */
}
.mainblock2:hover img{
    transform: scale(1.05);
}
.Tech-image2{
    width: 100%;
    height: 55%;
    overflow: hidden;

}
.Tech-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Tech-text2 p{
    font-family: "Battambang";
    font-size: 15px;
    margin: 0px 5px;
}
.Tech-text2{
    width: 100%;
    height: 45%;
}



/* Society */

.Society{
    width: 75%;
    overflow: hidden;
    margin: auto;
    /* background-color: blue; */
}
.titlebox4{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    border-bottom: 5px solid rgb(13, 216, 148);

}
.titlebox4 .titlename4{
    width: 165px;
    height: 50px;
    background-color: rgb(13, 216, 148);
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Koulen", sans-serif, cursive;
    color: white;
    font-weight: 300;
    margin-top: 15px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.Society-content{
    width: 100%;
    height: 450px;
    background-color: lightgray;
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    padding: 20px 30px;
    box-sizing: border-box;

}
.first-block3{
    width: 35%;
    height: 100%;
    
    /* background-color: greenyellow; */
}
.Society-image{
    width: 100%;
    height: 65%;
    overflow: hidden;
}
.Society-image:hover img{
    transform: scale(1.05);
}
.Society-text{
    width: 100%;
    height: 35%;
    background-color: palevioletred;

}
.Society-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Society-text p{
    font-family: "Battambang";
    font-size: 24px;
    color: white;
    margin-top: 0px;
    margin-left: 5px;
    line-height: normal;
    text-align: left;
}
.second-block3{
    width: 64%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mainblock3{
    width: 24%;
    height: 50%;

    /* background-color: rebeccapurple;    */
}
.mainblock3:hover img{
    transform: scale(1.05);
}
.Society-image2{
    width: 100%;
    height: 55%;
    overflow: hidden;

}
.Society-image2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Society-text2 p{
    font-family: "Battambang";
    font-size: 15px;
    margin: 0px 5px;
}
.Society-text2{
    width: 100%;
    height: 45%;
}

/* footer */
.footer{
    width: 100%;
    height: 330px;
    background-color: black;
}
.contentfooter{
    width: 75%;
    height: 100%;
    margin: auto;
    /* background-color: white; */
    display: flex;
    flex-direction: row;

}
.box1{
    width: 34%;
    height: 100%;
    /* background-color: blueviolet; */
}
.box2{
    width: 46%;
    height: 100%;
    /* background-color: lightblue; */
}
.box3{
    width: 20%;
    height: 100%;
    /* background-color: yellowgreen; */
}


.box1 img{
    width: 140px;
    height: 65px;
    margin-top: 40px;
}
.box1 p{
    font-family: "Battambang";
    opacity: 0.9;
    font-size: 18px;
    color: white;
}
.box2 h2{
    font-family: "Bayon";
    margin-top: 40px;
    font-size: 25px;
    opacity: 0.9;
    color: white;

}
.box2 p{
    font-family: "Battambang";
    font-size: 18px;
    color: white;
    opacity: 0.9;
}
.box2 img{
    width: 40px;
    height: 40px;
}
.box3 h2{
    font-family: "Bayon";
    margin-top: 40px;
    font-size: 25px;
    opacity: 0.9;
    color: white;

}

.fa-brands{
    font-size: 27px;
    margin: 10px 5px;
    color: white;
    opacity: 0.8;
}
.box3 p{
    font-family: "Battambang";
    font-size: 18px;
    color: white;
    opacity: 0.9;
}